html, body{
    height: 100%;

    --color1: #0f1b2e;
    --color2: #0a121f;
    --color3: #b68c31;
    --color4: #cdcfd4;
    --color5: #dfe1e5;

    --color1Gradiente: #0f1b2e9f;
}

#app{
    height: 100%;
    background-color: var(--color5);
}