html, body{
    height: 100%;

    --color1: #0f1b2e;
    --color2: #2c313a;
    --colorteste: #0b0b0e;
    --colorteste2: #27272f;
    --color3: #b68c31;
    --color4: #cdcfd4;
    --color5: #dfe1e5;

    --color1Gradiente: rgba(10, 18, 31, 0.7);
    --color2Gradiente: rgba(6, 11, 20, 0.7);
    --color3Gradiente: rgba(6, 11, 20, 0.931);
    --color4Gradiente: rgba(205, 207, 212, 0.3);

    --linearGradient: linear-gradient(90deg, #1a2e4d, #112138, #0f1b2e)

    --WidthConteiner: 0;
    --widthMenu: 0;
    --widthAsideInit: 0;
    --widthAsideEnd: 0; 

    --FontLabel: 'Plus Jakarta Sans', sans-serif;
    --FontTittle: 'Poiret One', cursive;
    --FontNavBar: 'Rajdhani', sans-serif;
    --FontOther: 'Sawarabi Gothic', sans-serif;


    /* SCROLLBAR */

    /* Firefox */
* {
    scrollbar-width: thin !important;
    scrollbar-color: #2c313a #0F1B2E !important;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px !important;
    width: 10px !important;
  }
  *::-webkit-scrollbar-track {
    border-radius: 6px !important;
    background-color: #0F1B2E !important;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    background-color: #2c313a !important;
  }
}

#app{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--color4);
}